Scripts/3C90_TX-25-15-10_Data1_Cycle.mat
Scripts/3C90_TX-25-15-10_Data1_Cycle_Identified.mat
Ansys/2DModel_FEAModel.log
Ansys/2DModel.mmt
Ansys/2DModel.pmg
Ansys/2DModel1.pjt/2DModel_MGen.log
Ansys/2DModel1.pjt/2DModel_th.cir
Ansys/2DModel1.pjt/2DModel_th.png
Ansys/2DModel1.pjt/2DModel_th.sml
Ansys/2DModel1.pjt/2DModel.cir
Ansys/2DModel1.pjt/2DModel.png
Ansys/2DModel1.pjt/2DModel.sc
Ansys/2DModel1.pjt/2DModel.sin
Ansys/2DModel1.pjt/2DModel.sml
Ansys/2DModel1.pjt/2DModel1.acr
Ansys/2DModel1.pjt/2DModel1.aedt
Ansys/2DModel1.pjt/2DModel1.dcr
Ansys/2DModel1.pjt/2DModel1.fea
Ansys/2DModel1.pjt/2DModel1.lk
Ansys/2DModel1.pjt/CreateCase.log
Ansys/2DModel1.pjt/CreateCase.vbs
Ansys/2DModel1.pjt/CurrentDensityMap.vbs
Ansys/2DModel1.pjt/EnergyMap.vbs
Ansys/2DModel1.pjt/FluxMap.vbs
Ansys/2DModel1.pjt/LossesMap.vbs
Ansys/2DModel1.pjt/2DModel1.aedtresults/ManagedFiles_Design0.asol
Ansys/2DModel1.pjt/2DModel1.aedtresults/SourceForMesh.asol
Ansys/2DModel1.pjt/2DModel1.aedtresults/mf_0/GeometryCache/CacheDataVersion.tmp
Ansys/2DModel1.pjt/2DModel1.aedtresults/mf_0/GeometryCache/InterrogationCache.tmp
Ansys/2DModel1.pjt/2DModel1.aedtresults/mf_0/GeometryCache/OperationDataCache.tmp
Ansys/2DModel1.pjt/2DModel1.aedtresults/mf_0/svcache/HDR10C31102817684971792.tmp
Ansys/2DModel2.pjt/2DModel2.aedt
Ansys/2DModel2.pjt/CreateCase.log
Ansys/2DModel2.pjt/CreateCase.vbs
Ansys/2DModel2.pjt/CurrentDensityMap.vbs
Ansys/2DModel2.pjt/EnergyMap.vbs
Ansys/2DModel2.pjt/FluxMap.vbs
Ansys/2DModel2.pjt/LossesMap.vbs
Ansys/2DModel2.pjt/2DModel2.aedtresults/ManagedFiles_Design0.asol
Ansys/2DModel2.pjt/2DModel2.aedtresults/SourceForMesh.asol
Ansys/2DModel2.pjt/2DModel2.aedtresults/mf_0/GeometryCache/CacheDataVersion.tmp
Ansys/2DModel2.pjt/2DModel2.aedtresults/mf_0/GeometryCache/InterrogationCache.tmp
Ansys/2DModel2.pjt/2DModel2.aedtresults/mf_0/GeometryCache/OperationDataCache.tmp
Ansys/2DModel2.pjt/2DModel2.aedtresults/mf_0/svcache/HDR10F11334017684971932.tmp
